


body {
	
	background: #dddddd;
	top: 600px;
	left: 600px;

}

header {	

	position: absolute;
	top: 0px;
	left: 225px;
	background: #4aaaa5;
	color: #ffffff;
	width: 150px;
	height: 40px;
	float: left;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 0px;
		
}	


#tom {
	position: absolute;
	top: 75px;
	left: 225px;
	background: #ffffff;		
	color: #4aaaa5;
	width: 500px;
	height: 25px;
	float: left;
	padding-top: 12px;
	padding-bottom: 12px;



}

#bozo {

	position: absolute;
	background: #ffffff;
	top: 115px;
	left: 225px;
	height: 270px;
	width: 450px;
	
	
}


 #zach {
 	position: absolute;
 	background: #ffffff;
 	top: 115px;
 	left: 425px;
	float: left;
	width: 300px;
	height: 270px;
	float: right;

 }

#cookie {
	position: absolute;
	background: #ffffff;
	color: #4aaaa5;
	top: 75px;
	left: 750px;
	float: left;
	width: 200px;
	height: 100px;
	text-align: center;
	padding-top: 12px;
	padding-left: 
}

#wizzo {
	position: absolute;
	top: 125px;
	left: 750px;
	width: 10px;
	height: 10px;
}

#trixie {
	position: absolute;
	top: 125px;
	left: 800px;
	width: 10px;
	height: 10px;
}

#chim {
	position: absolute;
	top: 125px;
	left: 850px;
	width: 10px;
	height: 10px;
}


 footer {
 	position: absolute;
 	top: 425px;
 	left: 150px;
	background: #666666;	
	width: 1000px;
	height: 50px;	
	color: #ffffff;	
	float: left;	
	text-align: center;
	padding-top: 20px;
	

}


* padding
* margin
* background
* float
* width (Read up on width by percents)
* color
* clear
* overflow
* height
* font-size


#nick {
	background: yellow;		
	color: #4aaaa5;
	margin-bottom: 100px;
	width: 40%;
	padding-top: 25px;
	float: left;


}

#jack {
		background: green;
		margin-bottom: 20px;

}

#gloria {
	background: grey;
	margin-bottom: 20px;



}

#george {
	background: purple;
	margin-bottom: 20px;


}